<template>
  <div class="d-flex">
    <div class="form_container d-flex justify-content-center align-items-center">
      <div class="myForm">
        <div class="head_form" v-if="step == 1">
          <h3>تلفن همراه خود را وارد کنید</h3>
          <span>به منظور ورود و یا ثبت نام لطفا شماره همراه خود را وارد کنید</span>
        </div>
        <div class="my_input_container" v-if="step == 1">
          <i class="el-icon-mobile-phone"></i>
          <input
            type="number"
            v-model="phoneNumber"
            placeholder="شماره همراه"
            class="my_input"
            @keyup.enter="submit"
          />
        </div>
        <div class="head_form" v-if="step == 2">
          <h3>تایید شماره موبایل</h3>
          <span>به منظور تایید شماره موبایل کد ارسال شده را وارد کنید</span>
        </div>
        <div class="my_input_container" v-if="step == 2">
          <i class="el-icon-mobile-phone"></i>
          <input
            type="number"
            v-model="code"
            placeholder="کد فعال سازی"
            class="my_input"
            @keyup.enter="submit_code"
          />
        </div>
        <div class="my_input_container" v-if="step == 3">
          <i class="el-icon-user-solid"></i>
          <input
            type="text"
            v-model="name"
            placeholder="نام"
            class="my_input"
            @keyup.enter="submit_singup"
          />
        </div>
        <div class="my_input_container my-1" v-if="step == 3">
          <i class="el-icon-message"></i>
          <input
            type="text"
            v-model="email"
            placeholder="ایمیل"
            class="my_input"
            @keyup.enter="submit_singup"
          />
        </div>
        <div class="my_input_container my-1" v-if="step == 3">
          <i class="el-icon-key"></i>
          <input
            type="password"
            v-model="password"
            placeholder="گذرواژه"
            class="my_input"
            @keyup.enter="submit_singup"
          />
        </div>
        <div class="my_input_container my-1" v-if="step == 3">
          <i class="el-icon-key"></i>
          <input
            type="password"
            v-model="password_confirm"
            placeholder="تایید گذر واژه"
            class="my_input"
            @keyup.enter="submit_singup"
          />
        </div>

        <div class="fotter_form">
          <button v-if="step == 1" @click="submit">ارسال پیامک فعال سازی</button>
          <div class="timer">
            <vac @finish="disable = true"  v-if="step == 2" :end-time="new Date().getTime() + 60000">
              <span
                slot="process"
                slot-scope="{ timeObj }"
              >{{ `کد ارسال شده تا ${timeObj.s} ثانیه دیگر منقضی می شود` }}</span>
              <span slot="finish">کد منقضی شد</span>
            </vac>
          </div>
          <button v-if="step == 2 && !disable" @click="submit_code">ارسال</button>
          <button v-if="step == 3" @click="submit_singup">ثبت نام</button>
        </div>
        <button v-if="step == 2" @click="step--" class="simple_btn">ارسال دوباره کد</button>
      </div>
    </div>
    <div class="bg">
      <img src="./../../assets/images/auth_bg.jpg" alt="cofee" />
    </div>
  </div>
</template>

<script>
export default {
  beforeRouteEnter(to, from, next) {
    next();
  },

  layout: "auth",
  head() {
    return {
      title: "ورود - ثبت نام"
    };
  },
  data() {
    return {
      phoneNumber: "",
      email: "",
      password: "",
      name: "",
      code: "",
      password_confirm: "",
      step: 1,
      disable: false
    };
  },
  methods: {
    async submit() {
      if (!this.phoneNumber)
        this.$notify({
          title: "شماره همراه را وارد کنید",
          message: "لطفا شماره تلفن خود را وارد کنید",
          type: "error"
        });
      else {
        try {
          this.$nuxt.$loading.start();
          const res = await this.$axios.$post(`${process.env.serverUrl}/auth`, {
            phoneNumber: this.phoneNumber
          });
          this.$notify({
            title: "کد فعال سازی پیامک شد",
            message: res.userMSG,
            type: "success"
          });
          this.step++;
          this.$nuxt.$loading.finish();
        } catch (err) {
          if (err && err.response)
            this.$notify({
              title: "خطا",
              message: err.response.data.errors[0].err,
              type: "error"
            });
          else
            this.$notify({
              title: "خطا",
              message: "خطا در ارتباط با سرور",
              type: "error"
            });
        }
      }
    },
    async submit_code() {
      try {
        this.$nuxt.$loading.start();
        const res = await this.$axios.$post(
          `${process.env.serverUrl}/auth/verify`,
          {
            phoneNumber: this.phoneNumber,
            code: this.code
          }
        );
        this.$nuxt.$loading.finish();

        if (!res.token) this.step++;
        else {
          localStorage.setItem("token", res.token);
          localStorage.setItem("session", res.refresh_token);
          localStorage.setItem("type", res.type);
          this.$router.push("/");
        }
      } catch (err) {}
    },
    async submit_singup() {
      try {
        if (this.password != this.password_confirm)
          this.$notify({
            title: "خطا",
            message: "گذر واژه های وارد شده یکی نیست",
            type: "error"
          });
        else {
          this.$nuxt.$loading.start();
          const res = await this.$axios.$post(
            `${process.env.serverUrl}/auth/singup`,
            {
              phoneNumber: this.phoneNumber,
              email: this.email,
              name: this.name,
              password: this.password
            }
          );
          this.$nuxt.$loading.finish();
          localStorage.setItem("token", res.token);
          localStorage.setItem("session", res.refresh_token);
          localStorage.setItem("type", res.type);
          this.$router.push("/");
        }
      } catch (err) {
        if (err && err.response) {
          for (let serverErr of err.response.data.errors) {
            setTimeout(() => {
              this.$notify({
                title: "خطا",
                message: serverErr.message,
                type: "error"
              });
            }, 10);
          }
        }
      }
    }
  }
};
</script>   

<style  scoped>
.timer {
  width: 100%;
  color: #fff;
  text-align: center;
  margin: 10px auto;
}
.simple_btn {
  background: none;
  border: none;
  width: 100%;
  margin-top: 10px;
  color: #6d4c41;
  outline: none;
}
.bg {
  width: 100vw;

  z-index: -1;
}
.head_form {
  color: #fff;
  text-align: center;
  padding: 15px;
}
.fotter_form {
  margin-top: 10px;
  width: 100%;
}
.fotter_form > button {
  outline: none;
  width: 100%;
  border: none;
  border-radius: 50px;
  color: #fff;
  background-color: rgb(47, 30, 27);
  padding: 10px;
  transition: all 0.2s;
}
.fotter_form > button:hover {
  background-color: #4e342e;
}
.head_form > span {
  opacity: 0.5;
}
.bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form_container {
  background-color: #3e2723;
  height: 100vh;
  width: 80vw;
  opacity: 1;
}
.myForm {
  width: 90%;
}
.my_input_container {
  color: #fdfdfd;
  background-color: #4e342e;
  border: none;
  border-radius: 50px;
  width: 100%;
  padding: 15px;
}
.my_input {
  color: #fdfdfd;
  border: none;
  background: none;
  width: 90%;
  height: 100%;
  outline: none;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>