<template>
  <div>
    <navbar></navbar>
    <div class="container mt-3">
      <nuxt-link to="new-event" class="btn btn-success btn-block my-5">رویداد جدید</nuxt-link>
      <el-table :data="events" border style="width: 100%" class="myTable">
        <el-table-column align="center" prop="title" label="عنوان" width="180"></el-table-column>
        <el-table-column align="center" prop="date" label="تاریخ" width="180"></el-table-column>
        <el-table-column align="center" label="عملیات">
          <template slot-scope="scope">
            <el-button size="mini" type="danger" @click="deleteWarningDialog = true">حذف</el-button>
            <el-dialog title="هشدار" :visible.sync="deleteWarningDialog" width="30%">
              <span>برای حذف این رویداد اطمینان دارید ؟</span>
              <span slot="footer" class="dialog-footer">
                <el-button @click="deleteWarningDialog = false">نه</el-button>
                <el-button type="danger" @click="handleDelete(scope.$index, scope.row.id)">حذفش کن</el-button>
              </span>
            </el-dialog>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import navbar from "../../components/navbar";

export default {
  components: { navbar },
  middleware: "auth",
  data() {
    return {
      events: [],
      loading: true,
      deleteWarningDialog: false
    };
  },
  methods: {
    async handleDelete(index, id) {
      try {
        let token = localStorage.getItem("token");
        this.$axios.setToken(token);
        await this.$axios.$delete(
          `${process.env.serverUrl}/admin/event?id=${id}`
        );
        this.events.splice(index, 1);
      } catch (err) {
        console.log(err);
        this.$notify({
          title: "خطا",
          message: "خطایی رخ داده ، دوباره امتحان کنید",
          type: "error"
        });
      }
    }
  },
  async mounted() {
    try {
      const res = await this.$axios.$get(`${process.env.serverUrl}/events`);
      this.events = res;
    } catch (err) {
      this.$notify({
        title: "خطا",
        message: "خطایی رخ داده ، دوباره امتحان کنید",
        type: "error"
      });
    }
    this.loading = false;
  }
};
</script>

<style scoped>
.myTable {
  direction: rtl;
  background-color: #fdfdfd;
}
</style>