<template>
  <div>
    <navbar></navbar>
    <div class="container" style="direction:rtl">
      <div class="d-flex">
        <input
          type="text"
          v-model="title"
          class="form-control my-2"
          style="text-align:center"
          placeholder="عنوان"
        />
        <input
          type="text"
          v-model="date"
          class="form-control my-2"
          style="text-align:center"
          placeholder="تاریخ"
        />
      </div>

      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          id="customFile"
          ref="image"
          @change="fileChange"
        />
        <label class="custom-file-label" for="customFile">انتخاب عکس</label>
      </div>
      <textarea
        v-model="content"
        class="form-control my-2"
        placeholder="توضیحات"
        style="text-align:right"
        name
        id
        cols="30"
        rows="10"
      ></textarea>
      <button class="btn btn-success btn-block" @click="submit">ایجاد رویداد</button>
    </div>
  </div>
</template>

<script>
import navbar from "../../components/navbar";

export default {
  middleware: "auth",
  components: { navbar },
  data() {
    return {
      title: "",
      content: "",
      file: "",
      date: ""
    };
  },
  methods: {
    checkfile() {
      if (this.file.size > 1024 * 1024 * 2) {
        this.file = "";
        this.$refs.image.files[0] = "";
        this.notify({
          title: "خطا",
          message: "خطایی رخ داده ، دوباره امتحان کنید",
          type: "error"
        });
      }
    },

    fileChange() {
      this.file = this.$refs.image.files[0];
      this.checkfile();
    },
    async submit() {
      try {
        /**
         * get token from localstorage
         */
        let token = "Bearer " + localStorage.getItem("token");

        /**
         * create formdate
         */
        const formdate = new FormData();
        formdate.append("title", this.title);
        formdate.append("content", this.content);
        formdate.append("file", this.file);
        formdate.append("date", this.date);

        /**
         * send request to server
         */
        this.$axios.setToken(token);
        await this.$axios.$post(
          `${process.env.serverUrl}/admin/event`,
          formdate
        );

        this.$notify({
          title: "موفق",
          message: "رویداد جدید ایجاد شد",
          type: "success"
        });

        this.$router.push("events");
      } catch (err) {
        if (err && err.response && err.response.status == 401)
          this.$router.push("/auth");
        this.$notify({
          title: "خطا",
          message: "خطایی رخ داده ، دوباره امتحان کنید",
          type: "error"
        });
      }
    }
  }
};
</script>